body {
    margin: 0;
    padding: 0;
    background-image: url('./img/fundo-floresta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 50%;
    margin: 60px auto;
    padding: 1px 20px;
    background-color: #fff;
}

.container h1 {
    margin-bottom: 0;
}

.topo {
    margin-top: 0;
    font-size: 1.5rem;
}

.floresta {
    width: 800px;
}

.content {
    width: 84%;
}

p {
    font-size: 1.1rem;
}

img {
    width: 100%;
}
