body {
    margin: 0;
    background-image: url('./img/img1.jpg');
    background-repeat: no-repeat;
}

.secao-topo {
    background-color: #0078f2;
    text-align: center;
    padding: 10px 20px;
}

.secao-topo p {
    margin: 0;
    font-size: 22px;
    color: #fff
}

.secao {
    padding: 10px 20px;
    width: 610px;
    margin: 0 auto;
    color: rgb(201, 201, 201);
}

img {
    width: 100%;
}

p {
    line-height: 28px;
    font-size: 18px;
}

.box-compra {
    margin: 0 auto;
    border: 1px solid #fff;
    text-align: center;
    width: 350px;
    padding: 0 20px 20px;
}

a {
    background-color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
}