.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #050b0e;
}

.conteudo-centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(20, 29, 35);
  padding: 20px;
  box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
}

.area-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.area-texto {
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 157, 157);
}

button {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  background: #0d909a;
  box-shadow: 0px 3px 6px rgba(119, 119, 119, .1);
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}