@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
}

.container {
    background-image: url('img/imagem-de-fundo.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.container h2 {
    margin-bottom: 30px;
}

.lista-horarios {
    width: 100%;
    max-width: 768px;
}

.lista-horarios li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.lista-horarios li h3 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 70px;
}

.lista-horarios li div {
    height: 1px;
    background-color: gray;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.lista-horarios li p,
span {
    text-align: right;
    flex: 0 1 90px;
}

.lista-horarios li span {
    text-align: center;
    color: #c4a47c;
}