.conteudo-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 29, 35);
    padding: 20px;
    box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    box-sizing: border-box;
    color: #fff;
}

.area-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

button {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background: #0d909a;
    box-shadow: 0px 3px 6px rgba(119, 119, 119, .1);
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
}